@{
    ViewData["Title"] = "WhereItApp: Item";
}
@model QDApps.Models.WhereItAppModels.ViewModels.ViewItem

<form asp-action="EditItem">
    <input asp-for="ItemName" class="form-control"/>
    <div>@Model.CreatedAt</div>
    <div>@Model.UpdatedAt</div>
    <label asp-for="StashId" class="control-label">Stash:</label>
    <select asp-for="StashId" class="form-control" asp-items="@(new SelectList(Model.AvailableStashes, "StashId","StashName"))"></select>
    <input type="submit" value="Save" class="btn btn-primary" />
</form>
<div>
    <p>Has Tags:</p>
    @foreach(var tag in Model.Tags)
    {
        <div>
            <p>@tag.TagName <a href="/WhereItApp/RemoveTag?tagId=@tag.TagId&itemId=@Model.ItemId" class="badge bg-danger">Remove</a></p>
        </div>
    }
</div>
<div>
    <p>Add Tags:</p>
    @foreach (var tag in Model.AvailableTags)
    {
        <div>
            <p>@tag.TagName <a href="/WhereItApp/AddTag?tagId=@tag.TagId&itemId=@Model.ItemId" class="badge bg-success">Add</a></p>
        </div>
    }
</div>