@{
    ViewData["Title"] = "WhereItApp: Item";
}
@model QDApps.Models.WhereItAppModels.ViewModels.ViewItem

<form asp-action="EditItem">
    <input asp-for="ItemId" hidden />
    <input asp-for="StashId" hidden id="stashId" />
    <input asp-for="ItemName" hidden id="itemName" />
    <table class="table table-bordered table-responsive">
        <tr>
            <th>
                <label asp-for="EditedItemName" class="control-label">Item:</label>
            </th>
            <th>
                <label asp-for="DestinationStashId" class="control-label">Stash:</label>
            </th>
        </tr>
        <tr>
            <td>
                <input asp-for="EditedItemName" id="editedItemName" class="form-control"/>
            </td>
            <td>
                <select asp-for="DestinationStashId" id="destinationStashId" class="form-control" asp-items="@(new SelectList(Model.AvailableStashes, "StashId","StashName"))"></select>
            </td>
        </tr>
        <tr>

            <td></td>
            <td style="display: flex; flex-flow: row; justify-content: space-between;">
                <input type="submit" value="Save Changes" id="submitButton" class="btn btn-primary" />
                <a href="/WhereItApp/Index" class="btn btn-primary">Return</a>
            </td>

        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-danger" onclick="toggle_modal(false)">
                    Delete Item
                </button>
            </td>

        </tr>
        <tr>
            <td>
                Has Tags:
            </td>
            <td>
                Add Tags:
            </td>
        </tr>
        <tr>
            <td>
                @foreach(var tag in Model.Tags)
                {
                    string tagColor = tag.TagColor == null ? "bg-secondary" : $"bg-{tag.TagColor}";
                    <div>
                        <div class="badge @tagColor">@tag.TagName</div>
                        <a href="/WhereItApp/RemoveTag?tagId=@tag.TagId&itemId=@Model.ItemId" class="badge bg-danger">X</a>
                    </div>
                 
                }
            </td>
            <td>
                @foreach (var tag in Model.AvailableTags)
                {
                    string tagColor = tag.TagColor == null ? "bg-secondary" : $"bg-{tag.TagColor}";

                    <a href="/WhereItApp/AddTag?tagId=@tag.TagId&itemId=@Model.ItemId" class="badge @tagColor">@tag.TagName</a>
                }
            </td>
        </tr>

    </table>

    <div class="modal" tabindex="-1" role="dialog" id="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Item</h5>
                    <button type="button" class="close" onclick="toggle_modal(true)" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete this item? This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <a href="/WhereItApp/DeleteItem?ItemId=@Model.ItemId" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-secondary" onclick="toggle_modal(true)">Close</button>
                </div>
            </div>
        </div>
    </div>


</form>
<script language="Javascript" src="~/js/WIA.js"></script>
<script language="Javascript">
    window.onload = toggleSubmitButton_Item();</script>
<script language="Javascript">
    window.addEventListener("click", function (event) {
        toggleSubmitButton_Item();
    });
</script>
