@{
    ViewData["Title"] = "WhereItApp: Tags";
}
@model QDApps.Models.WhereItAppModels.ViewModels.ViewTag


<form asp-action="EditTag">
    <input asp-for="TagName" hidden id="currentTagName" />
    <input asp-for="TagId" hidden />
    <input asp-for="TagDescription" hidden id="currentTagDescription" />
    <input asp-for="TagColor" hidden id="currentTagColor" />

    <input asp-for="EditedTagName" id="editedTagName" class="form-control" />
    <label asp-for="EditedTagDescription" class="control-label">Description:</label>
    <input asp-for="EditedTagDescription" id="editedTagDescription" class="form-control" />

    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">

    @foreach (var tagColor in Model.AvailableTagColors)
    {
        string color = $"bg-{tagColor.Key}";

        <div style="display: flex; flex-direction: row; padding: 2px;">
            @if(tagColor.Key == Model.TagColor)
            {
                    <input type="radio" asp-for="EditedTagColor" value="@tagColor.Key" checked="true" name="EditedTagColor" />
                <div class="badge @color">@tagColor.Value</div>
            }
            else
            {
                    <input type="radio" asp-for="EditedTagColor" value="@tagColor.Key" name="EditedTagColor" />
                <div class="badge @color">@tagColor.Value</div>
            }
        </div>
    }
    </div>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div style="display: flex; flex-flow: row; justify-content: space-between;">
                    <input type="submit" value="Save Changes" id="submitButton" class="btn btn-primary" />
                    <a href="/WhereItApp/Index" class="btn btn-primary">Return</a>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-danger" onclick="toggle_modal(false)">
                    Delete Tag
                </button>
            </td>
        </tr>
        <tr>
            <th>Item</th>
            <th>Stash</th>
        </tr>
        @foreach(var item in Model.ViewItems)
        {
            <tr>
                <td><a href="/WhereItApp/EditItem?ItemId=@item.ItemId">@item.ItemName</a></td>
                <td>@item.StashName</td>
            </tr>
        }
    </table>

    <div class="modal" tabindex="-1" role="dialog" id="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Tag</h5>
                    <button type="button" class="close" onclick="toggle_modal(true)" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete this tag? This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <a href="/WhereItApp/DeleteTag?TagId=@Model.TagId" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-secondary" onclick="toggle_modal(true)">Close</button>
                </div>
            </div>
        </div>
    </div>

</form>

<script language="Javascript" src="~/js/WIA.js"></script>
<script language="Javascript">
    window.onload = toggleSubmitButton_Tag();</script>
<script language="Javascript">
    window.addEventListener("click", function (event) {
        toggleSubmitButton_Tag();
    });
</script>