@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QDApps.Models.WhereItAppModels.ViewModels.ViewInventory

<div>
    <p>View By...</p>
    <div>
        <button type="button" class="btn btn-primary" onclick="viewStashes()" id="viewStashesButton">Stashes</button>
        <button type="button" class="btn btn-primary" onclick="viewTags()" id="viewTagsButton">Tags</button>
        <button type="button" class="btn btn-primary" onclick="viewItems()" id="viewItemsButton">Items</button>

    </div>

    <div id="viewStashes" hidden>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Stash</th>
                <th>Items</th>
                <th>Tags</th>
            </tr>
            @foreach(var stash in Model.Stashes)
            {
                <tr>
                    <td>@stash.StashName</td>
                    <td>@stash.ItemCount</td>
                    <td>@string.Join(" ", stash.TagNames.ToArray());</td>
                </tr>
            }
        </table>
    </div>
    <div id="viewTags" hidden>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Tag</th>
                <th>Items</th>
            </tr>
            @foreach (var tag in Model.Tags)
            {
                <tr>
                    <td>@tag.TagName</td>
                    <td>@tag.ItemCount</td>
                </tr>
            }
        </table>
    </div>
    <div id="viewItems" hidden>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Item</th>
                <th>Stash</th>
                <th>Tags</th>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.StashName</td>
                    <td>@string.Join(" ", item.TagNames.ToArray());</td>
                </tr>
            }
        </table>
    </div>
</div>
 
<script language="Javascript" src="~/js/WIA.js"></script>
<script language="Javascript">
    window.onload = setDefaults("stashes");</script>