@{
    ViewData["Title"] = "WhereItApp";
}
@model QDApps.Models.WhereItAppModels.ViewModels.ViewInventory

<div>
    <p>@Model.UserName's Stashes</p>
    <div>
        <button type="button" class="btn btn-primary" onclick="viewStashes()" id="viewStashesButton">Stashes</button>
        <button type="button" class="btn btn-primary" onclick="viewTags()" id="viewTagsButton">Tags</button>
        <button type="button" class="btn btn-primary" onclick="viewItems()" id="viewItemsButton">Items</button>

    </div>

    <div id="viewStashes" hidden>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Stash</th>
                <th>Items</th>
                <th>Tags</th>
            </tr>
            @foreach(var stash in Model.Stashes)
            {
                <tr>
                    <td><a href="/WhereItApp/ViewStash?StashId=@stash.StashId">@stash.StashName</a>   </td>
                    <td>@stash.ItemCount</td>
                    <td>@foreach (var tag in stash.Tags) { <a href="/WhereItApp/EditTag?TagId=@tag.TagId" class="badge bg-secondary">@tag.TagName</a> }</td>
                </tr>
            }
        </table>
    </div>
    <div id="viewTags" hidden>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Tag</th>
                <th>Items</th>
            </tr>
            @foreach (var tag in Model.Tags)
            {
                <tr>
                    <td><a href="/WhereItApp/EditTag?TagId=@tag.TagId">@tag.TagName</a> </td>
                    <td>@tag.ItemCount</td>
                </tr>
            }
        </table>
    </div>
    <div id="viewItems" hidden>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Item</th>
                <th>Stash</th>
                <th>Tags</th>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><a href="/WhereItApp/EditItem?ItemId=@item.ItemId">@item.ItemName</a></td>
                    <td>@item.StashName</td>
                    <td>@foreach (var tag in item.Tags) { <a href="/WhereItApp/EditTag?TagId=@tag.TagId" class="badge bg-secondary">@tag.TagName</a> }</td> 
                </tr>
            }
        </table>
    </div>
</div>
 
<script language="Javascript" src="~/js/WIA.js"></script>
<script language="Javascript">
    window.onload = setDefaults("stashes");</script>